    
<div class="col-md-3">
            <div class="panel panel-default" >
                <div class="panel-heading">
                    <p>
                        مشخصات
                    </p>
                </div>
                <div class="panel-body">
                    <p>
                        <ul>
                            <li><a href="/UserPanel"> مشاهده حساب کابری </a></li>
                            <li><a asp-action="Edit" asp-controller="UserPanel"> ویرایش حساب کابری </a></li>
                            <li><a asp-action="ChangePassWord" asp-controller="UserPanel"> تغییر رمز عبور </a></li>
                            <li><a href=""> تنظیمات حساب کاربری </a></li>
                            <li><a asp-action="Wallet" asp-controller="UserPanel"> کیف پول شما </a></li>
                            <li><a href="/Account/LogOut"> خروج از حساب کاربری </a></li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>