@model TopLearn.DataLayer.Entities.User.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_forgotview</title>
</head>
<body>
    <div style="direction:rtl; padding:20px;">
        <h2>
            @Model.UserName
        </h2>
        <p>
        </p>
    </div>
</body>
</html>
