@model TopLearn.Core.DTOs.ForgotPasswordViewModel
@{
    ViewData["Title"] = "فراموشی رمز عبور";
}

<body>

    <div class="container" style="margin-top:200px; margin-bottom:200px;">

      ,<form method="post" asp-action="Forgotpassword">
        <h2 class="form-signin-heading">لطفا ایمیل خود را وارد کنید</h2>
        <br />
        <label asp-for="Email" class="sr-only">ایمیل</label>
        <input type="email" asp-for="Email" class="form-control" placeholder="ادرس ایمیل" required="" autofocus="">
         <span asp-validation-for="Email" style="color:red"></span>
       </form>
        </div>
        <button class="btn  btn-primary " type="submit">بازیابی رمز عبور</button>
    

 <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
   
  

</body>